.work-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.work {
		&__container {
            max-width: 1220px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 35px;
           h2{
            font-family: 'Inter';
            margin-left: 150px;
            color: white;
            font-style: normal;
            font-weight: 500;
            font-size: 90px;
            line-height: 132.9%;
            text-transform: uppercase;
            color: #F5F5F5;
            @media (max-width:768px) {
                font-size: 55px;
                text-align: center;
                margin: 0;
            }
           }
		}
}
.work-block {
        display: flex;
        justify-content: space-between;
        gap: 160px;
        width: 100%;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 30px;
            height: 3px;
          }
        
          &::-webkit-scrollbar-thumb {
            background: #B0B4BDBF;
            border: 2px solid rgba(176, 180, 189, 0.75);
            border-radius: 15px;
          }
          &::-webkit-scrollbar-track {
            background: #32353CBF;
          }
		&__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 50px;
            a{
                font-family: 'Inter';
                font-weight: 700;
                font-size: 30px;
                line-height: 36px;
                color: #F5F5F5;
                margin: 30px 0;
            }
            img{
                width: 205px;
            }
            li{
                display: flex;
                align-items: center;
                gap: 5px;
                font-family: 'Inter';
                font-weight: 500;
                font-size: 30px;
                line-height: 30px;
                color: #F5F5F5;
                margin-bottom: 30px;                
            }
            li img{
                width: 25px;
            }
		}
}