<body>
  <div class="footer-box">
  <main class="quest-main" id="contact">
    <h2>Any questions?</h2>
    <div class="quest__container">
      
      <div class="container__input">
        <form action="./fosfo.html">
          <input type="text" name="username" placeholder="You name">
          <input type="number" name="usernumber" placeholder="Your telephone number">
          <textarea placeholder="Your question">
          </textarea>
          <button class="button-input">
            Send
          </button>
        </form>
      </div>
      <div class="container__input-info">
        <p>Write to us and we will be sure to answer all your questions and give you a comprehensive consultation.</p>
        <img src="img/poleno.png" alt="poleno">
      </div>
    </div>
  </main>
  <footer class="footer">
    <div class="footer__container">
      <div class="container__info">
        <div class="container__ifo-item"><a href="index.html"><img src="img/svg/logo.svg" alt="BIOCWT"></a></div>
        <div class="container__ifo-item"><a href="tel:+420 000 000 000"><img src="img/svg/call.svg" alt="call">+420 000 000 000</a></div>
        <div class="container__ifo-item">
            <img src="img/svg/Geo.svg" alt="geo">
          <div class="info-item__text">
            <a href="#">Na Plzeňce 1166/1<br><a href="#"><span class="d-none">Прага 5 - Смихов,</span>150 00</a></a>
          </div>
        </div>
      </div>
      <div class="footer__container-privat">
        <a href="#">Privacy policy</a>
      </div>
    </div>

  </footer>
</div>
</body>
