
<body>
    <main class="work-main" id="wood">
        
        <div class="work__container">
            <h2>THE WOOD WE WORK WITH</h2>
            <div class="work-block">
                <div class="work-block__item">
                    <img src="img/ico/workwod/wrwood1.png" alt="work">
                    <a href="#">Oak</a>
                    <ul>
                        <li> <img src="img/ico/workwod/no.png" alt="n"> Durability</li>
                        <li> <img src="img/ico/workwod/no.png" alt="n"> Beautiful <br> texture</li>
                        <li> <img src="img/ico/workwod/no.png" alt="n"> Water resistance</li>
                        <li> <img src="img/ico/workwod/yes.png" alt="g"> Expensive</li>
                    </ul>
                </div>
                <div class="work-block__item">
                    <img src="img/ico/workwod/wrwood2.png" alt="work">
                    <a href="#">Buk</a>
                    <ul>
                        <li> <img src="img/ico/workwod/no.png" alt="n"> Durability</li>
                        <li> <img src="img/ico/workwod/yes.png" alt="g">Hard to handle</li>
                    </ul>
                </div>
                <div class="work-block__item">
                    <img src="img/ico/workwod/wrwood3.png" alt="work">
                    <a href="#">Ash</a>
                    <ul>
                        <li> <img src="img/ico/workwod/no.png" alt=""> Durability</li>
                        <li> <img src="img/ico/workwod/yes.png" alt="g">Hard to handle</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</body>